---
# Only the main Sass file needs front matter (the dashes are enough)
search: false
---

@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials

/* 모든 스타일을 무시하고 강제 적용 */
.page__content img {
  display: block !important;
  margin: 30px auto !important; /* 위아래 간격 주고 가운데 정렬 */
  max-width: 75% !important;   /* 80%보다 조금 더 줄여서 가독성 확보 */
  height: auto !important;
  border-radius: 8px !important;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1) !important;
}
